@import "./reset.css";
@import "../screens/HomeScreen/home_screen.css";
@import "../screens/MainScreen/main_screen.css";
@import "../screens/UserInputScreen/user_input_screen.css";
@import "../screens/TeacherScreen/teacher_screen.css";
@import "../Components/BoardList.css";
@import "../Components/Header.css";
