.teacher-screen {
  margin-top: 10vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.teacher-screen-search-result {
  display: block;
}

.teacher-screen-card {
  width: 40vw;
  margin: 60px;
  display: flex;
  flex-direction: column;
  align-self: center;
  border-radius: 4px;
  border: 1px solid #eaeaea;
  background-color: white;
}

.teacher-name {
  padding: 16px 24px;
  margin: 0;
  font-size: 20px;
  border-bottom: 2px solid #eaeaea;
}

.teacher-carrer {
  padding: 16px 24px;
  margin: 0;
  font-size: 16px;
  border-bottom: 2px solid #eaeaea;
}

.teacher-carrer-list {
  margin: 24px 0;
  list-style-type: square;
}

.teacher-carrer-list-item {
  border-bottom: 1px solid #eaeaea;
  margin-left: 64px;
  padding: 8px 0;
  font-size: 14px;
}
.teacher-screen-search {
  width: 30%;
  display: flex;
  justify-content: flex-end;
  margin-top: 20px;
}
.teacher-screen-search select,
.teacher-screen-search button {
  font-size: 20px;
  background: none;
  border: none;
}
.teacher-screen-search select {
  width: max-content;
  border-bottom: 1px solid black;
}
.teacher-screen-search button {
  border: 2px solid #333;
  margin-left: 10px;
  border-radius: 10px;
}
.teacher-screen-search button:hover {
  cursor: pointer;
  background-color: #333;
  color: #fff;
  transition: 0.4s;
}
