.boardscreen-wrapper {
    width: 100%;
    margin-top: 80px;
    
}
.boardscreen-header {
    width: 100%;
    height: 350px;
    display: flex;
    background-color:rgba(0,0,0,0.7);
    padding:20px 400px;
    color:white;
    box-sizing: border-box;
}
.boardscreen-header img {
    width: 400px;
    height: 100%;
    margin-right: 40px;
}
.boardscreen-contents {
    width: 40%;
    display: flex;
    flex-direction: column;
}
.boardscreen-contents >span:nth-child(1) {
    font-size: 12px;
}
.boardscreen-contents >span:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}
.boardscreen-contents >span:nth-of-type(3) {
    font-size: 12px;
}
.boardscreen-contents >span:last-of-type {
    display: block;
    margin-top: 10px;
    font-size: 24px;
}
.boardscreen-contents >h3 {
    display: block;
    margin-top: 10px;
    font-size: 24px;
    color:red;
}
.boardscreen-contents__detail {
    margin-top :10px;
    display:flex;
    flex-direction: column;
}
.boardscreen-contents__footer {
    margin-top : 10px;
    display:flex;
    flex-direction: column;
}
.boardscreen-contents__footer span:first-of-type{
    font-size:14px;
    font-weight: bold;
}
.boardscreen-contents__footer span:nth-of-type(2) {
    font-size: 12px;
}

.boardscreen-main {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding:20px 400px;
    color:black;
    box-sizing: border-box;
}
.boardscreen-main > span:first-child{
    font-size: 20px;
    font-weight: bold;
}
.boardscreen-noimage {
    width:400px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 24px;
    opacity: 0.6;
}