.board-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  margin-top:80px;
}
#class_search {
  border: 2px solid #333;
  border-radius: 4px;
  margin-left: 15px;
  margin-right: 10px;
  padding: 5px 10px;
}
#category_search {
  width: 100px;
  height: 30px;
  border: 2px solid #333;
  font-family: "Nanumgothic";
  border-radius: 3px;
}

.board-search {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 5px;
  background-color: #fff;
  height: 40px;
  margin-right: 10px;
}
.board-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, 300px);
  grid-gap: 25px;
  width: 100%;
  height: 60%;
  padding: 50px 230px;
  box-sizing: border-box;
  justify-content: center;
  justify-items: center;
  overflow-y: scroll;
}
.board-list img {
  width: 230px;
  height: 150px;
}
.board-list__board {
  width: 230px;
  height: 280px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  background-color: whitesmoke;
  color: black;
  text-align: center;
  transition: background-color 0.2s ease-in-out;
}
.board-list__board:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.board-list__board > div {
  position: relative;
}
.board-list__board > div > span {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 2px 8px;
  top: 0px;
  font-size: 12px;
  left: 0;
}
.board-list__board > span:first-of-type {
  font-weight: bold;
  font-size: 14px;
}
.board-list__board > span:nth-of-type(2) {
  font-size: 14px;
}
.board-list__board > span:nth-of-type(3),
.board-list__board > span:nth-of-type(4) {
  font-size: 12px;
  color: black;
}

.board-list__board > span {
  text-align: center;
}

.board-noimage {
  width: 230px;
  height: 150px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  opacity: 0.2;
}
.btn-board {
  width: 50px;
  padding: 4px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
}

.btn-board:hover {
  background-color: #333;
  color: #fff;
}

.btn-append {
  width: 150px;
  padding: 20px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  transition: 0.4s;
  background-color: #fff;
}

.btn-append:hover {
  background-color: #333;
  color: #fff;
}
.board-options {
  display: flex;
}
