body {
  color: #333;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.4;
  font-family: "Nanum Gothic", sans-serif;
}

.inner {
  width: 1100px;
  margin: 0 auto;
  position: relative;
}

header {
  width: 100%;
  background-color: #f6f5f0;
  border-bottom: 1px solid #c8c8c8;
  position: fixed;
  top: 0;
  z-index: 9;
}

header > .inner {
  height: 120px;
}

header .logo {
  height: 75px;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  display: flex;
  align-items: center;
}

header .sub-menu {
  position: absolute;
  top: 10px;
  right: 0;
  display: flex;
}

header .sub-menu ul.menu {
  font-family: Arial, Helvetica, sans-serif;
  display: flex;
}

header .sub-menu ul.menu li {
  position: relative;
  display: flex;
  align-items: center;
}

header .sub-menu ul.menu li:nth-child(n + 2) {
  margin: 0 15px;
}

header .sub-menu ul.menu li a {
  font-size: 12px;
  padding: 10px 16px;
  display: block;
  color: #656565;
}

header .sub-menu ul.menu li a:hover {
  color: #000;
}

.btn-header {
  width: 130px;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 4px;
  color: #333;
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  transition: 0.4s;
}

.btn-header:hover {
  background-color: #333;
  color: #fff;
}
