.modal-container {
  display: flex;
  flex-direction: column;
  padding: 2vw;
  position: fixed;
  top: 20vh;
  left: 33vw;
  width: 30vw;
  background-color: white;
  z-index: 10;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.modal-button {
  all: unset;
  padding: 10px;
  background-color: white;
}
.modal-button:hover {
  background-color: #333;
  color: #fff;
  transition: 0.4s;
  cursor: pointer;
}
.modal-input-container {
  padding: 15px;
}
.modal-input-container > input,
.modal-input-container > select {
  background: none;
  border: none;
  border-bottom: 1px solid black;
  width: 80%;
}
.modal-input-container > label {
  width: 10%;
  display: inline-block;
  margin-right: 10px;
}
