.home-screen {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.home-screen-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.home-screen-input-container {
  display: flex;
  flex-direction: column;
  margin: 30px 50px;
}
