.home-screen {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.1);
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Noto Sans KR", sans-serif;
}

.home-screen a {
  text-decoration: none;
  color: black;
}

.change {
  margin-top: 10px;
  width: 80%;
  height: 30px;
  border: 0;
  outline: none;
  border-radius: 40px;
  color: blue;
  font-size: 1em;
  letter-spacing: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.change:hover {
  cursor: pointer;
}

.home-screen li {
  list-style: none;
}

.login {
  width: 30%;
  height: 600px;
  background: white;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  color: tomato;
  font-size: 2em;
}

.login-sns {
  padding: 20px;
  display: flex;
}

.login-sns li {
  padding: 0px 15px;
}

.login-sns span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 50px;
  background: white;
  font-size: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.4), -3px -3px 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.login-email {
  margin-top: 20px;
  width: 80%;
}

.login-email input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  outline: none;
}
.login-email .submit {
  align-content: center;
  display: flex;
}

.login-pwd {
  margin-top: 20px;
  width: 80%;
  align-items: center;
}

.login-pwd input {
  width: 100%;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
  padding: 0px 10px;
  border: 1px solid lightgray;
  outline: none;
}

.submit {
  margin-top: 50px;
  width: 80%;
  text-align: center;
  align-items: center;
}
.submit button {
  width: 100%;
  height: 40px;
  border: 0;
  outline: none;
  border-radius: 40px;
  background: linear-gradient(to left, rgb(255, 77, 46), rgb(255, 155, 47));
  color: white;
  font-size: 1.2em;
  letter-spacing: 2px;
}
.submit button:hover {
  cursor: pointer;
}
